.aboutDiv {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  padding-bottom: 40px;
  align-items: center;
}

.cropImageDiv {
  margin: 0 auto;
}

.aboutImageCrop {
  position: relative;
  left: 0%;
  z-index: 1;
  margin: 0 auto;
}

.aboutImageCrop::before {
  content: '';
  background-image: url('/MJ_headshot_Crop.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 320px;
  height: 600px;
  position: absolute;
  z-index: 1;
  left: -20px;
  top: 0;
  animation: upDown 4s ease-in-out infinite; 
}

@keyframes upDown {
  0% {
    top: 0px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}

.bgImageCrop {
  height: 460px;
  width: 300px;
  position: relative;
  top: 0px;
  overflow: hidden;
}

.bgImageCrop::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 100%;
  height: 100%;
  width: 100%;
  background-color: #CDE1C3;
  border-radius: 4px;
  animation: bgFill 1.5s linear forwards;
}

@keyframes bgFill {
  from {
    top: 100%;
  } 
  to {
    top: 0%;
  }
}

.imgAbout {
  height: 500px;
  object-fit: contain;
  width: 100%;
}

.aboutText {
  text-align: left;
  padding-left: 40px;
  font-size: 18px;
  line-height: 1.3;
  margin: 0 auto;
}

.aboutParag {
  margin: 0;
  padding: 0;
}

.contact {
  text-align: left;
  margin: 0 auto;
  margin-top: 70px;
}

.contactTitle {
  font-family: "Barriecito", sans-serif;
  font-size: 26px;
  letter-spacing: 2px;
  /* color: #f0471d !important; */
  padding: 0;
  margin: 0;
}

.bodyTextLinks.about {
  font-size: 18px;
  letter-spacing: 1px;
  padding: 0px 5px
}

.bodyTextLinks.about:hover{
  background-color: white;
  border-radius: 5px;
  color: black;
} 

.aboutSocialWrapper {
  display: flex;
  /* justify-content: center; */
  margin-top: 10px;
}

.socialLinkDivAbout {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  width: 150px;
  align-items: center;
  text-align: center;
}

.socialLinkAbout {
  height: 30px;
}

.socialLinkAbout:hover {
  filter: invert(1);
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
  .bgImageCrop {
    height: 280px;
    width: 180px;
  }

  .aboutImageCrop::before {
    width: 180px;
    height: 270px;
    left: 0px;
    top: 0;
  }

  .cropImageDiv {
    margin-left: 10%;
  }
  .aboutDiv { 
    display: inline-block;
  }

  .imgAbout {
    height: 400px;
  }

  .aboutText {
    padding-left: 10px;
    font-size: 12px;
    line-height: 1.3;
    width: 100%;
  }

  .contact {
    text-align: center;
    width: 100%;
    margin-top: 40px;
  }

  .contactTitle {
    font-size: 20px;
  }

  .aboutSocialWrapper {
    justify-content: center;
  }

  .socialLinkAbout {
    height: 25px;
  }
  
  .bodyTextLinks.about {
    font-size: 14px;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 1px;
  }
  
  .bodyTextLinks.about {
    font-size: 14px;
  }
}


@media only screen and (min-width: 400px) and (max-width: 650px) {
  .bgImageCrop {
    height: 280px;
    width: 180px;
  }

  .aboutImageCrop::before {
    width: 180px;
    height: 270px;
    left: 0px;
    top: 0;
  }

  .cropImageDiv {
    margin-left: 20%;
  }

  .aboutDiv { 
    display: inline-block;
  }

  .imgAbout {
    height: 400px;
  }

  .aboutText {
    padding-left: 10px;
    font-size: 12px;
    line-height: 1.3;
    width: 100%;
  }

  .contact {
    text-align: center;
    width: 100%;
    margin-top: 40px;
  }

  .contactTitle {
    font-size: 20px;
  }

  .aboutSocialWrapper {
    justify-content: center;
  }

  .socialLinkAbout {
    height: 25px;
  }
  
  .bodyTextLinks.about {
    font-size: 14px;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 1px;
  }
  
  .bodyTextLinks.about {
    font-size: 14px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 800px) {
  .aboutDiv {
    justify-content: space-between;
    align-items:flex-start;
  }

  .bgImageCrop {
    height: 320px;
    width: 200px;
  }

  .aboutImageCrop::before {
    width: 200px;
    height: 300px;
    left: 0px;
    top: 0;
  }

  .cropImageDiv {
    margin-left: 0;
  }
  
  .aboutDiv { 
    justify-content: space-between;
  }

  .imgAbout {
    height: 400px;
  }

  .aboutText {
    padding-left: 4 0px;
    font-size: 14px;
    line-height: 1.3;
  }

  .contact {
    text-align: center;
    width: 70%;
    margin-top: 40px;
  }

  .contactTitle {
    font-size: 18px;
  }

  .aboutSocialWrapper {
    justify-content: center;
  }

  .socialLinkAbout {
    height: 25px;
  }
  
  
  .bodyTextLinks.about {
    font-size: 18px;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing: 1px;
  }
  
  .bodyTextLinks.about {
    font-size: 14px;
  }
 }

 @media only screen and (min-width: 800px) and (max-width: 1100px) {
  
  .aboutDiv {
    justify-content: space-between;
    align-items:flex-start;
  }

  .bgImageCrop {
    height: 420px;
    width: 300px;
  } 

  .aboutImageCrop::before {
    width: 290px;
    height: 420px;
    left: 10px;
    top: 0;
  }
}