@font-face {
  font-family: "Avenir";
  src: url("/fonts/avenir/AvenirLTStd-Black.otf") format("otf"),
       url("/fonts/avenir/AvenirLTStd-Roman.otf") format("otf"),
       url("/fonts/avenir/AvenirLTStd-Book.otf") format("otf");
}

html {
  font-size: 10px;
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  background-color: #8ec8b0;
  min-height: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar */
body::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #C4FFE7;
}

.cursorZ {
  position: fixed;
  z-index: 1000;
}

/* alternative cursor */
.cursor {
  width: 30px;
  height: 30px;
  border: 4px solid #c4ffe7;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 150ms ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  z-index: 9999;
  /* mix-blend-mode: difference; */
}

.cursor--hidden {
  opacity: 0; 
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.5);
  background-color: #c4ffe7;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(0.5);
  background-color: #c4ffe7;
  /* background-color: #EBFA42; */
}

.container {
  max-width: 1460px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 25px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.wrapper.imagesGrid {
  margin-bottom: 10rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-family: "Barrio", sans-serif;
}

h2 {
  font-family: "Barriecito", sans-serif;
}

p {
  font-family: 'Avenir', sans-serif;
  line-height: 1.4;
  
}

.pageTitle {
  font-family: "Barrio" , sans-serif;
  font-weight: 600;
  font-size: 68px;
  text-align: center;
  margin: 0;
  margin: 15px 0;
  /* padding: 20px 0; */
}

button {
  background: var(--red);
  color: white;
  border: 0;
  padding: 0.6rem 1rem;
  border-radius: 2px;
  --cast: 2px;
  box-shadow: var(--cast) var(--cast) 0 var(--grey);
  text-shadow: 0.5px 0.5px 0 rgba(0,0,0,0.2);
  transition: all 0.2s;
  cursor: pointer;
}

button:hover {
  --cast: 4px;
}

a, a:visited {
  text-decoration: none;
  color: black;
  font-family: 'Avenir', sans-serif;
  cursor: pointer;
}

a:hover {
  color: #fefefe;
}

hr {
  border: 0;
  height: 8px;
  background-size: 1500px;
}

img {
  max-width: 100%;
}

.pressInfo {
  display: flex;
  justify-content: center;
  max-width: 100%;
  align-items: center;
  text-align: left;
  font-size: 18px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #8ec8b0;
  margin: 0;
  z-index: 7;
}

.footer.footerNot {
  position: relative;
}

.footerText {
  font-size: 11px !important;
  font-family: "Avenir" , sans-serif !important;
  color: #4D866C;
}

.fourofourDiv {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fourofour {
  font-family: "Barrio" , sans-serif;
  font-size: 28px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 300px) and (max-width: 350px) {  
  .pageTitle {
    font-size: 38px;
    padding: 5px 0;
  }

  p {
    font-size: 11px;
  }
 }


@media only screen and (min-width: 350px) and (max-width: 400px) {
  .pageTitle {
    font-size: 38px;
    padding: 10px 0;
  }

  p {
    font-size: 12px;
  }
 }

 @media only screen and (min-width: 400px) and (max-width: 700px) {
  .pageTitle {
    font-size: 38px;
    padding: 10px 0;
  }

  p {
    font-size: 12px;
  }
 }

 @media only screen and (min-width: 700px) and (max-width: 1000px) {
  .pageTitle {
    padding: 0 0;
  }

  p {
    font-size: 14px;
  }
 }

 @media only screen and (min-width: 1000px) and (max-width: 1400px) {
  .pageTitle {
    padding: 0 0;
  }

  p {
    font-size: 16px;
  }
 }