@font-face {
  font-family: "Bigilla";
  src: url("/fonts/bigilla/Bigilla.otf") format("otf"),
       url("/fonts/bigilla/Bigilla-Bold.otf") format("otf");
}

html {
  font-size: 10px;
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  background-color: #8CD0B4;
  /* background-color: #CDE1C3; */
  min-height: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  cursor: none;
  /* background: rgb(205,225,195);
  background: linear-gradient(45deg, rgba(205,225,195,1) 12%, rgba(141,186,173,1) 31%, rgba(163,156,195,1) 62%, rgba(249,255,227,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

html *,
body * {
    cursor: none;
}

/* Hide scrollbar */
body::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #95B1D5;
}

.cursorZ {
  position: fixed;
  z-index: 1000;
}

.cursor {
  width: 30px;
  height: 30px;
  border: 4px solid #F0471D;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 150ms ease;
  transition-property: background-color, opacity, transform, mix-blend-mode;
  z-index: 9999;
  /* mix-blend-mode: difference; */
}

.cursor--hidden {
  opacity: 0; 
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.5);
  background-color: #F0471D;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(0.5);
  background-color: #F0471D;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 38px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.wrapper.imagesGrid {
  margin-bottom: 10rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-family: "Barrio", sans-serif;
  /* font-family: "Bigilla"; */
}

h2 {
  font-family: "Barriecito", sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
  /* font-family: "Montserrat Alternates" , sans-serif ; */
  line-height: 1.4;
}

.pageTitle {
  font-family: "Barrio" , sans-serif;
  font-weight: 600;
  font-size: 68px;
  text-align: left;
  margin: 0;
  padding: 20px 0;
  padding-top: 70px;
}

button {
  background: var(--red);
  color: white;
  border: 0;
  padding: 0.6rem 1rem;
  border-radius: 2px;
  cursor: none;
  --cast: 2px;
  box-shadow: var(--cast) var(--cast) 0 var(--grey);
  text-shadow: 0.5px 0.5px 0 rgba(0,0,0,0.2);
  transition: all 0.2s;

}

button:hover {
  --cast: 4px;
}

a, a:visited {
  text-decoration: none;
  color: black;
  font-family: 'Roboto', sans-serif;
  cursor: none;
}

a:hover {
  color: #fefefe;
  /* border-bottom: .5px solid white; */
}

hr {
  border: 0;
  height: 8px;
  background-size: 1500px;
}

img {
  max-width: 100%;
}

.pressInfo {
  display: flex;
  justify-content: center;
  max-width: 210px;
  align-items: center;
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
  font-size: 16px;
}

.reelWrapper {
  padding: 50px 0;
}

.reeltitle {
  font-size: 38px;
}

.reelPlaceholder {
  min-height: 600px;
  min-width: 700px;
  background-color: black;
  text-align: center;
}

.reelPlaceholderText {
  color: #95B1D5;
  padding: 20% 0;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  color: black;
  text-align: center;
  position: fixed;
}

.footer.footerNot {
  position: relative;
}

.footerText {
  font-size: 12px !important;
  font-family: "Montserrat Alternates" , sans-serif !important;
}

.fourofourDiv {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fourofour {
  font-family: "Barrio" , sans-serif;
  font-size: 28px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 300px) and (max-width: 350px) {  
  .reelWrapper {
    padding: 0;
    margin: 0;
  }

  .reeltitle {
    font-size: 22px;
  }

  .reelPlaceholder {
    min-height: 100px;
    min-width: 200px;
  }

  .wrapper {
    padding: 0 40px
  }
  .reelPlaceholderText {
    font-size: 10px;
  }

  .pageTitle {
    font-size: 38px;
    padding-top: 30px
  }

  p {
    font-size: 14px;
  }
 }


@media only screen and (min-width: 350px) and (max-width: 700px) {
  .wrapper {
    padding: 0 40px
  }

  .pageTitle {
    font-size: 38px;
    padding-top: 30px
  }

  p {
    font-size: 14px;
  }

  .reelWrapper {
    padding: 0;
    margin: 0;
  }
  
  .reeltitle {
    font-size: 28px;
  }

  .reelPlaceholder {
    min-height: 180px;
    min-width: 200px;
  }
  
  .reelPlaceholderText {
    font-size: 12px;
  }

  .pressInfo {
  
    max-width: 180px;
    font-size: 14px;
  }
 }

 @media only screen and (min-width: 700px) and (max-width: 1400px) {
  .pageTitle {
    padding-top: 0px;
  }

  .reelWrapper {
    padding: 0;
    margin: 0;
  }

  .reelPlaceholder {
    min-height: 380px;
  }

  .reelPlaceholderText {
    font-size: 16px;
  }
 }