.p5Div {
  position: absolute;
  z-index: -1000;
  margin: 0;
  padding: 0;
  margin-top: 5%;
  margin-left: 28%;
}

.indexPageOne {
  min-height: 520px;
}

.tagLine {
  text-align: center;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.homeName {
  font-size: 10rem;
  padding-bottom: 0;
  margin-bottom: 0;
  color: transparent;
  /* position: relative; */
}

.titleSpan {
  /* position: absolute; */
  /* -webkit-text-stroke: 1.5px black; */
  color: black;
}

/* .homeName:before {
  background: linear-gradient(to right,black 95%, #E5E3DC 5% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  content: attr(data-text);
  top:0;
  left:0;
  width: 0;
  transition: 0.5s;
  overflow: hidden;
  position: absolute;
  animation: fillText 5s;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
} */

/* @keyframes fillText {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
} */

.logline {
  font-size: 4rem;
  /* margin-top: 8%;
  position: absolute; */
}

.arrow {
  margin: 0;
  padding:0;
  display: inline-block;
  padding-top: 80px;
  left: 200px;
  bottom: 100px;
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  /* margin-left: -100px; */
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 100px;
  }
  50% {
    bottom: 110px;
  }
}

.downArrow {
  font-size: 32px;
  transition: all 150ms ease;
}

.downArrow:hover {
  transform: scale(1.2);
}

.videoDiv {
  display: block;
  min-height: 600px;
  padding-bottom: 50px;
}

.videoNone {
  display: none;
}

@media screen and (max-width: 650px) {  
  .indexPageOne {
    min-height: 370px;
  }

  .videoDiv {
    min-height: 400px;
    padding-bottom: 20px;
  }
  
  .tagLine {
    margin-top: 100px;
  }

  .homeName {
    font-size: 5.5rem;
  }

  .logline {
    font-size: 2.2rem;
    margin-top: 10%;
    }

    .p5Div {
      display: none;
    }


    .downArrow {
      font-size: 28px;
    }

    .arrow {
      left: 80px;
    }

    @keyframes MoveUpDown {
      0%, 100% {
        bottom: 170px;
      }
      50% {
        bottom: 180px;
      }
    }
    
}

@media only screen and (min-width: 300px) and (max-width: 560px) { 
  .tagLine {
  margin-top: 150px;
}

.homeName {
  font-size: 3rem;
}

.logline {
  font-size: 1.2rem;
  margin-top: 5%;
  }

  .p5Div {
    display: none;
  }
 

  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 130px;
    }
    50% {
      bottom: 140px;
    }
  }
}

@media only screen and (min-width: 650px) and (max-width: 850px) {
  .tagLine {
    margin-top: 200px;
  }

  .homeName {
    font-size: 7.5rem;
  }

  .logline {
    font-size: 3rem;
    margin-top: 5%;
    }

  .p5Div {
     margin-left: -5%;
     margin-top: 8%;
    }

    .downArrow {
      font-size: 28px;
    }

    .arrow {
      left: 100px;
    }

    @keyframes MoveUpDown {
      0%, 100% {
        bottom: 300px;
      }
      50% {
        bottom: 310px;
      }
    }
  }

@media only screen and (min-width: 850px) and (max-width: 1100px) {

  .videoDiv {
    min-height: 400px;
    padding-bottom: 20px;
  }
  
  .logline {
    margin-top: 5%;
  } 

  .p5Div {
    margin-left: 15%;
    margin-top: 10%;
   }
}

@media only screen and (min-width: 1100px) and (max-width: 1250px) {
  .p5Div {
    margin-left: 18%;
    margin-top: 8%;
   }
}

@media only screen and (min-width: 1250px) and (max-width: 1400px) {
  .p5Div {
    margin-left: 24%;
    margin-top: 7%;
   }
}

