.p5Div {
  position: absolute;
  z-index: -8;
  margin: 0;
  padding: 0;
  margin-top: 15%;
  margin-left: 28%;
}

.tagLine {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  /* padding-top: 20px; */
}

.homeName {
  font-size: 10rem;
  padding: 0;
  margin: 0;
  color: transparent;
  /* position: relative; */
}

.titleSpan {
  /* position: absolute; */
  /* -webkit-text-stroke: 1.5px black; */
  color: black;
}

/* .homeName:before {
  background: linear-gradient(to right,black 95%, #E5E3DC 5% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  content: attr(data-text);
  top:0;
  left:0;
  width: 0;
  transition: 0.5s;
  overflow: hidden;
  position: absolute;
  animation: fillText 5s;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
} */

/* @keyframes fillText {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
} */

.logline {
  font-size: 4rem;
  padding-bottom: 15px;
}

.responsiveContainer {
  position: relative;

}
.videoImageContainer {
  width: 100%;
  /* padding-bottom: 40px; */
}

.blackimageCon {
  position: relative;
}


.imageHome {
  position: absolute;
  z-index: 5;
  padding-bottom: 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

.imageHome.none {
  display: none;
}


.imageSize {
  height: 675px;
  object-fit: cover;
  padding-bottom: 40px;
} 

.imageWrapper {
  position: absolute;
    width: 100%;
    height: 94%;
    background: #000;
    opacity: 0;
    animation: fadeInBlack ease 6s forwards;
}

@keyframes fadeInBlack {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
 }

.playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  /* background: transparent url('/play-button.png') center center no-repeat; */
  height: 48px;
  width: 48px;
  margin-top: 25%;
  cursor: pointer;
  z-index: 6;
  transform: scale(1.2);
}

.playIcon.none {
  display: none;
}

.playIcon:hover{
  transform: scale(1.4);
}

.videoDiv {
  /* position: absolute; */
  display: block;
  padding-bottom: 40px;
  animation: fadeIn ease 5s forwards;
}


@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
 }

.videoNone {
  display: none;
}

@media screen and (max-width: 650px) {  

  .imageSize {
    height: 260px;
  }

  .videoDiv {
    /* min-height: 400px; */
    padding-bottom: 20px;
  }

  .homeName {
    font-size: 5.5rem;
  }

  .logline {
    font-size: 2.2rem;
    margin-top: 10%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 560px) { 
  .imageSize {
    height: 220px;
  }
  
  .homeName {
  font-size: 3rem;
}

.logline {
  font-size: 1.2rem;
  }
}

@media only screen and (min-width: 650px) and (max-width: 850px) {

  .homeName {
    font-size: 7.5rem;
  }

  .logline {
    font-size: 3rem;
    margin-top: 5%;
    }
  }

@media only screen and (min-width: 850px) and (max-width: 1100px) {

  .videoDiv {
    min-height: 400px;
    padding-bottom: 20px;
  }
  
  .logline {
    margin-top: 5%;
  } 
}


