@font-face {
  font-family: "Bigilla";
  src: url("/fonts/bigilla/Bigilla.otf") format("otf"),
       url("/fonts/bigilla/Bigilla-Bold.otf") format("otf");
}

@font-face {
  font-family: "Modernist";
  src: url("/fonts/Sk-Modernist/Sk-Modernist-Regular.otf") format("otf"),
       url("/fonts/Sk-Modernist/Sk-Modernist-Mono.otf") format("otf"),
       url("/fonts/Sk-Modernist/Sk-Modernist-Bold.otf") format("otf");
}

header {
  height: 100px;
  font-family: 'Roboto', sans-serif;
  padding-top: 10px;
}

.menuHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.inner-header {
  /* position: relative; */
  z-index: 10;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  font-weight: 500;
  text-decoration: none;
  color: black;
  z-index: 10;
}

.navMenu {
  z-index: 10;
}

.logoNav {
  font-family: 'Modernist', 'Roboto', sans-serif;
  letter-spacing: 2px;
}

.circle1 {
  background-image: url('../assets/images/circle.png');
  display: block;
  background-repeat:no-repeat;
  background-size:contain;
  padding: 55px;
  background-color: transparent;
  animation: rotation 2s infinite linear;
  position: relative;
  z-index: -10;
}


@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

.btnMenu {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 3rem;
  color: black;
  position: absolute;
  margin-top: -5%;
  margin-left: 2%;
}

.btnMenu:hover {
  color: white;
}

.hamburger-menu {
  display: none;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

.menu-secondary-background-color {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background: black;
  z-index: -1;
}

.menu-layer {
  position: relative;
  background: #5A6E41;
  height: 100%;
  overflow: hidden;
}

.hamWrapper{
  position: relative;
}

.hamLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 200px
}

nav {
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  font-size: 10rem;
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
  height: 150px;
  position: relative;
  width: 700px;
}

.meLink {
  position: absolute;
  color: white !important;
  text-decoration: none;
  font-family: "Bigilla";
}

.meLink:hover {
  color: black !important;
}

.humSocialLinks {
  width: 300px;
  color: white;
}


@media screen and (max-width: 600px) {  
  li {
    font-size: 5rem;
    height: 100px;
    width: 200px;
    padding-left: 10px;
  }

  .humSocialLinks {
    width: 100px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  li {
    font-size: 10rem;
    height: 150px;
    width: 400px;
    padding-left: 10px;
  }

  .humSocialLinks {
    width: 150px;
  }

  .btnMenu {
    margin-top: -10%;
    margin-left: 3%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1400px) {
  li {
    font-size: 10rem;
    height: 200px;
    width: 400px;
    padding-left: 40px;
  }
  .btnMenu {
    margin-top: -9%;
    margin-left: 3%;
  }
 }

 @media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .btnMenu {
    margin-top: -6%;
    margin-left: 2%;
  }
 }

 @media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .btnMenu {
    margin-top: -7%;
    margin-left: 2%;
  }
 }

 @media only screen and (min-width: 600px) and (max-width: 715px) {
  .btnMenu {
    margin-top: -12%;
    margin-left: 4%;
  }
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
  .circle1 {
    display: none;
    padding: 0;
    margin: 0;
  }

  .btnMenu {
    margin-left: -1%;
  }
}
