@font-face {
  font-family: "Avenir";
  src: url("/fonts/avenir/AvenirLTStd-Black.otf") format("otf"),
       url("/fonts/avenir/AvenirLTStd-Roman.otf") format("otf"),
       url("/fonts/avenir/AvenirLTStd-Book.otf") format("otf");
}

.navWrapper {
  padding: 20px 50px;
}

header {
  height: 80px;
  padding: 0;
}

.menuHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.inner-header {
  z-index: 10;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLogo {
  font-weight: 300;
  text-decoration: none;
  color: black;
  margin-top: 30px;
  text-align: left !important;
}

.navMenu {
  z-index: 10;
}

.logoNav {
  font-family: "Barrio" , sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 600;
}

.logoNav:hover {
  color: #C4FFE7 !important;
}

.menuLogo {
  padding: 0 50px;
  padding-top: 20px;
}

.menuNavLogo {
  font-family: "Barrio" , sans-serif !important;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: 600;
}

.circle1.black {
  background-image: url('../assets/images/circle.png');
  display: block;
  background-repeat:no-repeat;
  background-size:contain;
  padding: 55px;
  background-color: transparent;
  animation: rotation 2s infinite linear;
  position: relative;
  z-index: -10;
  filter: invert(0);
}

.circle1.white {
  background-image: url('../assets/images/circle.png');
  display: block;
  background-repeat:no-repeat;
  background-size:contain;
  padding: 55px;
  background-color: transparent;
  animation: rotation 2s infinite linear;
  position: relative;
  z-index: -10;
  filter: invert(1);
}

@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

.barsDiv {
  display:grid;
  place-items:center;
  margin-top: -4%;
  margin-left: 2%;
  padding:0;
  position: absolute;
}

.barsMenu {
  display:flex;
  flex-direction:column;
  width: 30px;
  cursor:pointer;
}

.barSpan.black{
  background: #000;
  border-radius:10px;
  height: 4px;
  margin: 5px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.barSpan.white{
  background: #fff;
  border-radius:10px;
  height: 4px;
  margin: 5px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.barSpan:nth-of-type(1){
  width:50%;
}

.barSpan:nth-of-type(2){
  width:100%;
}

.barSpan:nth-of-type(3){
  width:75%;
}

input[type="checkbox"]{
  display:none;
}

.ex input[type="checkbox"] ~ .barSpan:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(8px, 2px)
}

.ex input[type="checkbox"] ~ .barSpan:nth-of-type(2){
  transform-origin:top;
  transform:rotatez(-45deg)
}

.ex input[type="checkbox"] ~ .barSpan:nth-of-type(3){
  transform-origin:bottom;
  width:50%;
  transform: translate(15px,-10px) rotatez(45deg);
}


.menuName:hover {
  color: #C4FFE7 !important;
}

.hamburger-menu {
  display: none;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

.menu-secondary-background-color {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background: white;
  z-index: -1;
}

.menu-layer {
  position: relative;
  background: #A39CC3;
  height: 100%;
  overflow: hidden;
}

.hamWrapper{
  position: relative;
}

.hamLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 80px;
  padding: 0 15%;
}

nav {
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  font-size: 10rem;
  font-weight: 700;
  overflow: hidden;
  height: 130px;
  position: relative;
  width: 700px;
}

.meLink {
  position: absolute;
  color: white !important;
  text-decoration: none;
  font-family: "Barrio" , sans-serif;
}

.meLink:hover {
  color: black !important;
}

.humSocialLinks {
  width: 400px;
  color: white;
}

.socialLinkDiv {
  display: flex;
  max-width: 140px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 25px 0;
}

.contactLink {
  font-size: 22px;
  letter-spacing: 2px;
  font-family: "Avenir" , sans-serif !important;
  color: black !important;
  padding: 0;
  margin: 0;
}

.socialLink {
  height: 40px;
  padding: 10px 10px;
}

.socialLink:hover {
  filter: invert(1);
}

@media only screen and (max-width: 340px) {
  .navWrapper {
    padding: 20px 20px;
  }

  .headerLogo {
    font-size: 1.4rem;
  }

  .circle1.black, .circle1.white {
    display: none;
    padding: 0;
    margin: 0;
  }

  li {
    font-size: 3.6rem;
    height: 60px;
    width: 180px;
    padding-left: 0;
  }

  .menuLogo {
    padding-top: 40px;
  }

  .menuNavLogo {
    font-size: 14px;
  }

  .logoNav {
    letter-spacing: 2px;
    font-size: 14px;
  }

  .barsDiv {
    margin-left: -5%;
  }

  .barsMenu {
    width: 20px;
  }

  .barSpan.black, .barSpan.white {
    height: 2px;
    margin: 4px 0;
  }

  .ex input[type="checkbox"] ~ .barSpan:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(6px, 2px)
  }
  
  .ex input[type="checkbox"] ~ .barSpan:nth-of-type(3){
    transform-origin:bottom;
    width:50%;
    transform: translate(10px,-8px) rotatez(45deg);
  }

  .hamLinks {
    padding: 0 10%;
  }

  .socialLink {
    height: 22px;
    padding: 0px 0px;
  }

  .contactLink {
    font-size: 14px;
    letter-spacing: 0;
  }
}

@media screen and (min-width: 340px) and (max-width: 650px) {
  .navWrapper {
    padding: 20px 20px;
  }

  .headerLogo {
    font-size: 1.4rem;
  }

  .barsDiv { 
    font-size: 2rem;
    margin-left: -5%;
  }

  .barsMenu {
    width: 20px;
  }

  .barSpan.black, .barSpan.white {
    height: 2px;
    margin: 4px 0;
  }

  .ex input[type="checkbox"] ~ .barSpan:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(6px, 2px)
  }
  
  .ex input[type="checkbox"] ~ .barSpan:nth-of-type(3){
    transform-origin:bottom;
    width:50%;
    transform: translate(10px,-8px) rotatez(45deg);
  }

  .logoNav {
    font-size: 14px;
  }

  .menuLogo {
    padding: 0px 40px;
    padding-top: 40px;
    display: flex;
  }

  .menuNavLogo {
    font-size: 14px;
  }

  .circle1.black, .circle1.white  {
    display: none;
    padding: 0;
    margin: 0;
  }

  .hamLinks {
    padding: 0 12%;
  }

  li {
    font-size: 3.6rem;
    height: 70px;
    width: 200px;
    /* padding-left: 10px; */
  }

  .contactLink {
    font-size: 14px;
    letter-spacing: 0;
  }

  .humSocialLinks {
    width: 80px;
    font-size: 12px;
  }

  .socialLink {
    height: 22px;
    padding: 0px 0px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 800px) {
  header {
    height: 130px;
  }

  .logoNav {
    font-size: 22px;
  }
  
  .menuNavLogo {
    font-size: 22px;
  }

  .menuLogo {
    padding: 0 60px;
    padding-top: 30px;
  }

  .hamLinks {
    padding: 0 12%;
  }

  .socialLink {
    height: 30px;
  }

  .contactLink {
    font-size: 16px;
    letter-spacing: 2px;
  }
  
  li {
    font-size: 7rem;
    height: 120px;
    width: 400px;
    padding-left: 10px;
  }

  .humSocialLinks {
    width: 130px;
  }

  .barsDiv {
    margin-left: -2%;
  }

  .circle1.black, .circle1.white {
    display: none;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1400px) {
  .navWrapper {
    padding: 20px 80px;
  }
  
  header {
    height: 100px;
  }

  .logoNav {
    font-size: 26px;
    line-height: -.5rem;
  }

  .menuNavLogo {
    font-size: 26px;
  }

  .menuLogo {
    padding: 0 60px;
    padding-top: 30px;
  }

  .humSocialLinks {
    width: 150px;
  }
  
  li {
    font-size: 9rem;
    height: 140px;
    width: 450px;
    padding-left: 40px;
  }

  .barsDiv {
    margin-top: -9%;
    margin-left: 8%;
  }

  .circle1.black, .circle1.white  {
    margin-top: 2%;
    margin-left: 35%;
  }
 }

 @media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .barsDiv {
    margin-top: -5%;
    margin-left: 3%;
  }
 }

 @media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .barsDiv {
    margin-top: -5%;
    margin-left: 6%;
  }
 }

 @media only screen and (min-width: 1000px) and (max-width: 1200px) {
  .barsDiv {
    margin-top: -7%;
    margin-left: 7%;
  }
 }


