.projectMain {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 80%;
}

.projectHeader {
  margin-top: 100px;
  margin-bottom: 50px;
  align-items: center;
  text-align: left;
}

.projectHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.backArrow {
  padding-top: 100px;
}

.pageTitle.singleProject {
  font-family: "Barrio" , sans-serif;
}

.projectYear {
  font-family: "Barrio" , sans-serif;
  font-size: 38px;
  padding-top: 50px;
}

.videoDiv.singleProject {
  padding: 0;
  min-height: 0px;
}

.descriptionDiv {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 20px 0;
  width: 90%;
}

.projectDescription {
  text-align: left;
  margin-top: 40px;
  line-height: 1.5em;
  font-size: 16px;
}

.bodyTextLinks {
  font-size: 20px;
  border-bottom: 2px solid white;
}

.featureDiv {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 0;
  padding-top: 0;
  text-align: left;
  display: flex;
  padding-bottom: 20px;
}

.featureP {
  padding-right: 8px;
  font-weight: 700;
}

.imagesContainer {
    max-width: 1200px;
    padding: 4vw;
    margin-left: auto;
    margin-right: auto;   
}

.imageBHSGallery {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  max-width: 100%;
  flex-direction: row;
}

.BHSimage {
  /* height: 400px; */
  width: 500px;
  object-fit: cover;
  padding: 5px;
}

@media screen and (max-width: 650px) {  
  .downArrow.backArrow {
    font-size: 22px;
  }

  .pageTitle.singleProject {
    font-size: 18px;
  }

  .projectYear {
    font-size: 14px;
  }

  .descriptionDiv {
    padding: 0px 0;
    font-size: 12px;
  }

  .bodyTextLinks {
    font-size: 12px;
  }

  .featureDiv {
    font-size: 12px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 850px) { 
  .pageTitle.singleProject {
    font-size: 36px;
  }
}