.projectMain {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 80%;
}

.backToProjects {
  padding-top: 100px;
  padding-bottom: 20px;
}

.backText {
  font-family: "Barriecito";
  font-size: 20px;
  letter-spacing: 4px;
  color: black !important;
  padding: 0px 5px;
}

.backText:hover {
  background: white;
  border-radius: 4px;
  font-weight: 700;
}

.projectHeader {
  margin-top: 100px;
  margin-bottom: 50px;
  align-items: center;
  text-align: left;
}

.projectHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.pageTitle.singleProject {
  font-family: "Barrio" , sans-serif;
  padding-bottom: 2%;
  padding-top: 2%;
  padding-right: 4px;
}

.projectYear {
  font-family: "Barrio" , sans-serif;
  font-size: 38px;
  padding-bottom: 2%;
  padding-top: 2%;
}

.videoDiv.singleProject {
  padding: 0;
  min-height: 0px;
}

.descriptionDiv {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding: 25px 0;
  width: 90%;
}

.projectDescription {
  text-align: left;
}

.bodyTextLinks {
  font-size: 20px;
  border-bottom: 2px solid white;
  font-family: 'Roboto', sans-serif !important;
  padding: 0 2px;
}

.bodyTextLinks:hover {
  background-color: white;
  border-radius: 5px;
  color: black;
}

.featureDiv {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: -3%;
  padding-top: 0;
  text-align: left;
  display: flex;
  padding-bottom: 20px;
}

.featureP {
  padding-right: 8px;
  font-weight: 700 !important;
}

.BHSTitle {
  color: #C170D3 !important;
  font-size: 32px;
}

.imagesContainer {
  max-width: 1200px;
  padding: 0 4vw;
  margin-left: auto;
  margin-right: auto;   
}

.imageBHSGallery {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  max-width: 100%;
  flex-direction: row;
}

.BHSimage {
  width: 500px;
  object-fit: cover;
  padding: 5px;
}

@media screen and (max-width: 650px) {  
  .backToProjects {
    padding: 20px 0;
  }
  
  .backText {
    font-size: 14px;
  }

  .pageTitle.singleProject {
    font-size: 20px;
  }

  .projectYear {
    font-size: 18px;
  }

  .descriptionDiv {
    padding: 0px 0;
    font-size: 12px;
  }

  .bodyTextLinks {
    font-size: 12px;
  }

  .featureDiv {
    font-size: 12px;
  }

  .BHSTitle {
    font-size: 18px;
  }

  .imagesContainer {
    padding-top: 10px;  
  }
}

@media only screen and (min-width: 650px) and (max-width: 850px) { 
  .pageTitle.singleProject {
    font-size: 36px;
  }
}