
.projectMain {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 80%;
}

.projectHeader {
  margin-top: 100px;
  margin-bottom: 50px;
  align-items: center;
  text-align: left;
}

.projectTitle {
  font-size: 48px; /*make this responsive*/
  display: inline-block;
  margin:0;
  padding: 0;
}

.descriptionDiv {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
}

.projectDescription {
  text-align: left;
  margin-top: 40px;
  line-height: 1.5em;
  font-size: 16px;
}

.bodyTextLinks {
  font-size: 20px;
  border-bottom: 2px solid white;
}

.featureDiv {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  margin-top: 0;
  padding-top: 0;
  font-style: italic;
  text-align: left;
}

