.heroImage { 
  /* display: inline-block; */
  padding: 0;
  margin: 0;
  /* margin-left: 2.5px;
  margin-right: 2.5px; */
} 

.imageContainer {
  display: flex;
  position: relative;
  margin-bottom: 20px;
 /* width: 450px; */
}

.imageGrid {
  object-fit: cover;
  max-height: 100%;
  min-width: 100%;
}

.textImagesmobile {
  display: none;
}

.textImages {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: 'Roboto', sans-serif !important;
  letter-spacing: 4px;
  color: #E5E3DC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.mainImageTitle {
  font-family: 'Roboto', sans-serif !important;
  letter-spacing: 6px !important;
}

.secondImageTitle {
  font-family: 'Roboto', sans-serif !important;
}

.textImages > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.textImages:hover {
  opacity: 1;
}

.textImages:hover > * {
  transform: translateY(0);
}

.textImages--blur {
  backdrop-filter: blur(5px);
}

.mainImageTitle {
  font-weight: 500;
  letter-spacing: 2px;
}

.secondImageTitle {
  font-size: 0.8em;
  margin-top: 0;
}


@media screen and (max-width: 1000px) {  
  .textImagesmobile {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .mainImageTitleMobile {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    letter-spacing: 0px;
    font-weight: 700 !important;
    font-size: 12px;
    text-transform: capitalize;
  }

  .mainImageTitleMobile:hover {
    color: #F0471D !important;
  }
  
  .secondImageTitleMobile {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding: 0;
    padding-left: 5px;
  }
  
  .textImages {
    display: none;
  }

  .mainImageTitle {
   display: none;
  }
  
  .secondImageTitle {
    display: none;
  }
}